if(body === 'is-home')
	// Logo
	div(class="top-line__logo", role="banner")
		h1(class='h1', title='logo') hello world!
	//  End logo
if(body != 'is-home')
	// Logo
	div(class="top-line__logo", role="banner")
		p(class='h1', title='logo') hello world!
	//  End logo