.content {
  position: relative;
  display: flex;
}

.block-wrap {
  width: 100%;
}

.block {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 50px;
  color: #fff;
}

.navigation {
  width: 100px;
}

.navigation__block {
  position: fixed;
  top: 40%;
  left: 20px;
}

.navigation__block_wrap {
  position: relative;
}

.navigation__block_label {
  position: absolute;
  left: -30px;
}

.navigation__block_range {
  position: relative;
  left: -30px;
  transform: rotate(90deg);
  -webkit-appearance: none;
  width: 200px;
  height: 5px;
  background-color: black;
  outline: none;
}

.navigation__block_range::-webkit-slider-thumb {
  -webkit-appearance: none;
  width:10px;
  height:20px;
  background:black;
  cursor:pointer;
  transition:.1s
}

#tickmarks {
  display: block;
}

.navigation__block_before {
  position: absolute;
  top: -120px;
  right: -46px;
  font-size: 18px;
}

.navigation__block_after {
  position: absolute;
  top: 120px;
  right: -46px;
  color: #888;
}

.indicator-wrap {
  display: none;
  position: absolute;
  left: 0;
  top: 96vh;
  width: 100%;
  height: 10px;
}

.indicator {
  position: relative;
  height: 100%;
}

.indindicator__line {
  position: absolute;
  top: 0;
  left: 0;
  background-color: black;
  width: 30%;
  height: 100%;
  z-index: 10;
}

.indicator__line-accent {
  position: absolute;
  top: 0;
  left: 0;
  background-color: #fff;
  width: 100%;
  height: 100%;
  z-index: 0;
}