// Menu
nav(class="top-line__menu", role="navigation")
	ul.top-line__list
		li.top-line__item
			a(class="top-line__link top-line__link_active", href="#") menu1
		li.top-line__item
			a(class="top-line__link", href="#") menu2
		li.top-line__item
			a(class="top-line__link", href="#") menu3
		li.top-line__item
			a(class="top-line__link", href="#") menu4
		li.top-line__item
			a(class="top-line__link", href="#") menu5
// End Menu